<br/>
<br/>
<footer>

   <div class="footernav">
      <a href="">Message</a>
         / <a href="">Following</a> 
         / <a href="">Followed Topics</a> 
         / <a href="">Shared</a> <br/>
         <a href="">Message</a>
         / <a href="">Following</a> 
         / <a href="">Followed Topics</a> 
         / <a href="">Shared</a> <br/>
         <a href="">Message</a>
         / <a href="">Following</a> 
         / <a href="">Followed Topics</a> 
         / <a href="">Shared</a> <br/>
         Disclaimer:  We know you are intelligent for you to be here, be rest assured that you own what you write.
  </div>
  <div class="calm">
   {{SITENAME}} - Copywright 2022 - {{MYDATE}} <a href="/iamdannyfc"> Are Daniel </a>
  </div>



</footer>
