<div class="container">
  <div class="trendingnav">
    <a href="/general"> General</a>
    : <a href="/digital">Digital Skill & Freelancing </a> .
    <a href="/q">Quiz</a> . <a href="/news">News</a> .
    <a href="/science">Science and Technology</a> .
    <a href="/business">Business & Finance</a> .
    <a href="/humanities"> History & Humanities</a> .
    <a href="/entertainment">Entertainment</a> . <a href="/sport">Sport</a> .
    <a href="/agriculture">Agriculture</a> . <a href="/c">Communities(+)</a>
  </div>
</div>
