{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %} 
<style>
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0px ;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 30px;
}

.registerbtn:hover {
  opacity:10;
  
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center; }

</style>



<form method="POST">
    <div class="container">
      <h1>Register a category</h1>             
      <hr>
      <label for="category"><b>Category name:</b></label>
      <input type="text" placeholder="Category" name="category" id="category" required>
      <!-- <label for="mod"><b>Moderator:</b></label>
      <input type="text" placeholder="Enter Moderator" name="mod" id="mod" required> -->
      <button type="submit" class="registerctg">Register</button>
    </div>
  </form>


  {% for post in postcategory %}
            <div class="card-body">
                {{post.name}}
            </div> 
            {% endfor %}
  {% endblock %}